<div class="wrapper">
    <div class="container">
        <h1>Create Account</h1> <form class="form">
            <input type="text" [(ngModel)]="signupObj.userName" name="userName" placeholder="Username">
            
            <input type="email"  [(ngModel)]="signupObj.email" name="email" placeholder="Email Address" id="email">

            <input type="password" [(ngModel)]="signupObj.password" name="password" placeholder="Password">
            
            <button type="button" (click)="onSignup()">Sign Up</button>

            <div style="margin-top: 15px;">
                <p>Already have an account?</p>
                <a routerLink="/login" style="color: white; font-weight: bold; text-decoration: underline; cursor: pointer;">
                    Back to Login
                </a>
            </div>
        </form>
    </div>
    
    <ul class="bg-bubbles">
        <li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li>
    </ul>
</div>