
   <div class="navbar" [class.slide-down-anim]="triggerAnimation">
    
    <div class="site-name">
        <h2>{{sitename}}</h2>
    

    </div>
    <div class="site-menu">
        <b><a class="navcomp" routerLink="/shop/products">HOME</a></b>
       <b><a class="navcomp" routerLink="/shop/about">ABOUT</a></b>
        <b><a class="navcomp" routerLink="/shop/contact" >CONTACT</a></b>
        
        <b>
            <a class="navcomp" routerLink="/shop/cart">
                cart <img src="assets/cart.png" alt="Cart" class="cart-icon">
            </a>
        </b>

        <b><a class="navcomp" routerLink="/shop/track-order">ORDERS</a></b>
        
        <b><a class="navcomp" routerLink="/shop/profile" >you</a></b>
    </div>
</div>