
<!-- 
<div class="navbar">
<div class="site-name">
<h2>{{sitename}}</h2>
</div>
<div class="site-menu">
<b><a class="navcomp"   href="#">HOME</a></b>
<b><a class="navcomp"  href="#">ABOUT</a></b>
<b><a class="navcomp"  href="#">CONTACT</a></b>
<b><a class="navcomp"  href="#">CART</a></b>
<b><a class="navcomp"  href="#">you</a></b>
</div> -->

<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
