.navbar{
    padding-right: 30%;
display: flex;

/* background-color: #6fd172; */
background: linear-gradient(45deg,  #6fd172,#c9b7aa);
justify-content: space-between;

}
.site-name{
    padding-left: 5%;
/* padding: 1% 3%; */
/* padding-top: 2%; */
 /* color:#b15716;
color:  #feb47b; */
color:#ba5004;
}
.site-menu{
padding: 5% 2%;
margin-left: 7%;
}


.navcomp{
    color:#087c3a;
    /* color:#d96a1b; */
    /* color:#087c3a; */
    padding: 11% 9%;
    text-decoration: none;
}